/* 标题和输入 */
#top_div {
    width: 100%;
    position: absolute;
}
#head, #input, #button_div {
    text-align: center;
    align-content: center;
    height: 60px;
}
#head {
    position: absolute;
    text-align: right;
    left: 20%;
    top: 20px;
}
#title {
    display: inline;
}
#input {
    position: absolute;
    left: 60%;
    top: 35px;
}
#file_fake {
    text-align: center;
    position: relative;
    padding: 4px 10px;
    width: 80px;
    height: 30px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
}  
#file {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}


 

table {
    border-collapse:collapse;
    text-align: center;
}
table, th, td{
    height: 28px;
    min-width: 50px;
    font-size: 10px;
    border-radius: 5px;
}
td {
    font-family: 'consolas';
}
th {
    background-color: #46a4ff;
}
table tr:nth-child(even) {
    background-color: #1e90ff26;
}
table tr:nth-child(odd) {
    background-color: #1e90ff4d;
}



/* Top-Aligned */
#body_div {
    position: absolute;
    top: 100px;
    width: 100%;
}
#left, #middle, #right {
    position: absolute;
}


/* Left */
#left {
    width: 50%;
    left: 2.5%;
}
#code_div {
    font-family: 'consolas';
    overflow: scroll;
    width: 100%;
    max-height: 400px;
}
#code_div th, #code_div td{
    border: 0;
    height: 20px;
    min-width: 15px;
    font-size: 8px;
    padding-left: 5px;
}
#code_div table {
    text-align: justify;
    /* border: 1.5px solid black; */
    width: 100%;
    max-height: 250px;
}
#button_div {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}
#button_div button{
    text-align: center;
    height: 30px;
    margin: 10px;
    padding: 4px 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
#one_instr {
    position: absolute;
    left: 10%;
}
#one_stage {
    position: absolute;
    left: 40%;
}
#reset {
    position: absolute;
    left: 70%;
}
#stage_div {
    width: 100%;
    position: relative;
}
#stage_div table{
    width: 100%;
}
/* 
#instr_mem, #reg_file, #ALU, #data_mem, #CC, #pc_inc, #PC{
    text-align: center;
    position: absolute;
    background-color: darksalmon;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}
#instr_mem {
    width: 100px;
    height: 44px;
    top: 20px;
}
#pc_inc {
    width: 94px;
    height: 44px;
    top: 120px;
}
#reg_file {
    width: 80px;
    height: 42px;
    top: 50px;
    left: 20%;
}
#ALU {
    width: 50px;
    height: 26px;
    top: 120px;
    left: 40%;
}
#CC {
    width: 50px;
    height: 26px;
    top: 20px;
    left: 40%;
}
#data_mem {
    width: 80px;
    height: 44px;
    top: 50px;
    left: 60%;
}
#PC {
    width: 50px;
    height: 26px;
    top: 50px;
    left: 80%;
} */


/* Middle */
#middle {
    width: 20%;
    left: 55%;
}
#reg_div {
    width: 100%;
}
#reg_div table {
    width: 100%;
    height: 100%;
    max-height: 100%;
}



/* Right */
#right {
    width: 20%;
    left: 77.5%;
}
#mem_div {
    overflow: scroll;
    width: 100%;
    max-height: 350px;
}
#mem_div table {
    width: 100%;
    height: 100%;
    max-height: 100%;
}
#mem_div th{
    position: sticky;
    top: 0;
}
#small {
    position: relative;
    top: 20px;
    width: 100%;
}
#pc_div, #stat_div, #cc_div {
    position: absolute;
}
#cc_div {
    left: 50%;
    top:5px;
}
#pc_div, #stat_div {
    left: 7.5%;
}
#stat_div {
    top: 80px;
}
#pc_div table, #stat_div table{
    min-width: 80px;
}
